body {
    color: white;
}
h1 {
    padding-top: 15px;
}
h2 {
    padding-top: 10px;
}
hr {
    border: 2px solid white;
    border-radius: 3px;
    box-shadow: inset 0px 0px 10px 0px white;
}
.my-container {
    margin-top: 15px;
    background-color: black;
    box-shadow: 0px 0px 10px 0px black;
}
.nav-pills .nav-link.active, .nav-pills > .active > a:focus {
    background-color: black;
    box-shadow: 0px 0px 10px 0px black;
}
a {
    color: black;
}
a:hover {
    color: white;
    background-color: gray;
    box-shadow: 0px 0px 10px 0px black;
}
p {
    background-color: white;
    color: black;
    box-shadow: inset 0px 0px 10px 0px black;
    padding: 15px;
}