$container-margin: 10%;
$main-color: black;
$back-color: white;
$select-color: gray;
%shadow {
    box-shadow: 0px 0px 10px 0px $main-color;
}
body {
    color: $back-color;
}
h1 {
    padding-top: 15px;
}
h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    border-bottom: 3px solid $back-color;
    border-radius: 3px;
}
.my-container {
    @extend %shadow;
    background-color: $main-color;
    padding: 1% 5% 2% 5%;
    margin-left: $container-margin;
    margin-right: $container-margin;
    font-size: 1em;
}
@media all and (orientation: portrait), all and (max-width: 1080px) {
    .my-container {
        margin-left: 0;
        margin-right: 0;
    }
}
.nav-pills .nav-link.active, .nav-pills > .active > a:focus {
    @extend %shadow;
    background-color: $main-color;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.nav-link {
    color: $main-color;
}
.nav-link:hover {
    @extend %shadow;
    color: $main-color;
    background-color: $select-color;
    transition: 250ms linear;
}
.normal-p {
    background-color: $back-color;
    color: $main-color;
    box-shadow: inset 0px 0px 10px 0px $main-color;
    padding: 1%;
}
#avatar {
    //border: 3px solid white;
    box-shadow: 0px 0px 10px 0px $back-color;
}
.div {
    margin: 1%;
}
.my-footer {
    margin-top: 2%;
    .footer-a {
        color: $back-color;
    }
    div {
        color: $select-color;
    }
}